* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
/* border: 1px solid red; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #fff;
    overflow: hidden;
}

p{
    color: #000;
    font-size: 1.3em;
}

button{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(90, 16, 165);
    color: white;
    padding: 2px;
    font-size: 1.3em;
}

.li-div{
    padding: 10px;
    font-size: 12px;
    width: 50%;
    align-items: center;
}

.small-btn {
    width: 50px;
    height: 20px;
    margin-bottom: 10px;
    line-height: .5;
}
h1,h2{
    color: black;
    text-align: center;
}

.choice-text{
    list-style: none;
    text-align: left;
    
}
.outer-container{
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.top-bar p{
    float: right;
}


/* Timer section */
.inner-container{
    background-color: white;
    height: 100%;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/* Header quiz intro */
.quiz-intro main{
    margin-top: 25wh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30vh;
    background-color: white;
}
.quiz-intro p{
    text-align: center;
}
.quiz-intro button{
        display: block;
        margin: 0 auto;
    }

    .quiz-intro p{
       padding: 10px;
    }

main{
        display: block;
    }
/* li button{
 margin-bottom: 0.5rem;
  width: 10%;
  font-size: 15px;
  background-color: rgb(137, 53, 53);
} */

.question{
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
}
.question-screen{
    display: block;
}

.quiz-finish-screen{
    display: none;
}


.choice-text {
    padding: 1.5rem;
    width: 100%;
  }

/* Highscores screen */
.highscores-screen{
    display: block;
}

.highscores-screen ul{
    max-height: 100vh;
}

.highscores-screen ol[height=200px]{
    overflow-y: scroll;
}

.initials{
    color: black;
}

/* .btn-center{
   margin: 10px;
} */