* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* h1{
    margin-top: 100px;
} */

body{
    background-color: #fff;
    overflow: hidden;
}

p{
    color: #000;
    font-size: 1.3em;
}

button{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(90, 16, 165);
    color: white;
    padding: 2px;
    font-size: 1.3em;
    width: fit-content;
}

.li-div{
    padding: 10px;
    font-size: 12px;
    width: 50%;
    align-items: center;
   
}

.small-btn {
    /* width: 250px;
    height: 120px; */
    margin-bottom: 10px;
    line-height: .5;
}
h1,h2{
    color: black;
    text-align: center;
}

.choice-text{
    list-style: none;
    text-align: left;
    
}
.outer-container{
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.top-bar p{
    float: right;
}



/* Timer section */
.inner-container{
    background-color: white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/* Header quiz intro */
.quiz-intro main{
    margin-top: 25wh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30vh;
    background-color: white;
}
.quiz-intro p{
    text-align: center;
}
.quiz-intro button{
        display: block;
        margin: 0 auto;
    }

.quiz-intro p{
       padding: 10px;
    }

main{
        display: block;
    }

ol{
    list-style-type:  none;
}

.question{
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
}
.question-screen{
    display: block;
}

.quiz-finish-screen{
    display: none;
}


.choice-text {
    padding: 1.5rem;
    width: 100%;
  }

/* Highscores screen */
.highscores-screen{
    display: block;
}

.highscores-screen ol{
    max-height: 100vh;
}

.highscores-screen ol[height=200px]{
    overflow-y: scroll;
}

.initials{
    color: black;
}

#username{
    color: black;
}

#end{
    padding-top: 80px;
}